// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Fonts
@font-face {
  font-family: "Rubik Extra Bold";
  src: url("https://raw.githubusercontent.com/mxrked/freelance_projects_CDN/main/CDN_sharpquills/fonts/Rubik-ExtraBold.ttf");
}
@font-face {
  font-family: "Rubik Bold";
  src: url("https://raw.githubusercontent.com/mxrked/freelance_projects_CDN/main/CDN_sharpquills/fonts/Rubik-Bold.ttf");
}
@font-face {
  font-family: "Rubik Semi Bold";
  src: url("https://raw.githubusercontent.com/mxrked/freelance_projects_CDN/main/CDN_sharpquills/fonts/Rubik-SemiBold.ttf");
}
@font-face {
  font-family: "Rubik Medium";
  src: url("https://raw.githubusercontent.com/mxrked/freelance_projects_CDN/main/CDN_sharpquills/fonts/Rubik-Medium.ttf");
}
@font-face {
  font-family: "Rubik Regular";
  src: url("https://raw.githubusercontent.com/mxrked/freelance_projects_CDN/main/CDN_sharpquills/fonts/Rubik-Regular.ttf");
}

// Desktop
.page_top {
  height: 1050px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  .page_top_main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .page_top_main_bg_IMG {
      position: absolute;
      width: 100%;
      height: 120%;
      top: -20px;
      left: 0;
      filter: blur(2px) brightness(50%);

      img {
        height: 100%;
      }
    }

    .page_top_main_bg_BG {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      @include bGSU(cover, center);
    }

    .page_top_main_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      @include displayElement(flex, center, center);
      padding-bottom: 110px;

      .page_top_main_overlay_cnt {
        text-align: center;
        overflow: hidden;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;

        .page_top_main_top_text {
          color: white;
          font-family: "Rubik Semi Bold";
          font-size: clamp(44px, 47px, 47px);
          text-shadow: 0 2px 12px rgba(0, 0, 0, 0.404);
        }

        .page_top_main_heading {
          color: white;
          font-family: "Rubik Extra Bold";
          font-size: clamp(74px, 77px, 77px);
          line-height: 70px;
          text-shadow: 0 2px 12px rgba(0, 0, 0, 0.404);
        }

        p {
          color: white;
          font-family: "Rubik Medium";
          font-size: clamp(21px, 23px, 23px);
          @include quickCenter("relative");
          margin-top: 35px;
          margin-bottom: 45px;
          max-width: 750px;
          text-shadow: 0 2px 12px rgba(0, 0, 0, 0.404);
        }

        ul {
          @include displayElement(flex, space-between, center);
          max-width: 350px;
          @include quickCenter("relative");

          li {
            &:first-child {
              a {
                background-color: $Everglade;

                &:hover {
                  background-color: $Apple;
                }
              }
            }

            &:last-child {
              a {
                background-color: $PickledBean;

                &:hover {
                  background-color: #7b5930;
                }
              }
            }

            a {
              height: 45px;
              padding-left: 12px;
              padding-right: 12px;
              border-radius: 5px;
              font-family: "Rubik Semi Bold";
              color: white;
              @include displayElement(flex, center, center);
              text-decoration: none;
              box-shadow: 0 2px 12px rgba(0, 0, 0, 0.404);
            }
          }
        }
      }
    }
  }

  .page_top_white_wave {
    position: absolute;
    width: 100%;
    height: 400px;
    bottom: 0px;
    left: 0;
    object-fit: cover;
    object-position: top;
    // border: 2px solid red;
  }

  .slanted {
    position: absolute;
    width: 120%;
    height: 100px;
    bottom: -50px;
    left: -60px;
    transform: rotate(2deg);
    background-color: white;
  }
}
.index_store {
  .index_store_inner {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1500px;
    @include quickCenter("relative");

    .index_store_inner_box {
      .index_store_inner_row {
        .index_store_inner_side {
          height: 670px;
          display: flex;
          align-items: center;
          overflow: hidden;
          white-space: normal;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }

        .index_store_L {
          justify-content: flex-start;

          .index_store_inner_side_cnt {
            width: 100%;
            height: 100%;

            .image_with_icon {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;

              .image_with_icon_inner {
                position: relative;
                width: 100%;
                height: 60%;
                display: flex;
                align-items: flex-end;

                .image_with_icon_inner_IMG_holder {
                  width: 100%;
                  height: 100%;
                  max-width: 450px;
                  max-height: 430px;
                  border-radius: 50%;
                  overflow: hidden;
                  white-space: nowrap;
                  position: relative;

                  .img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                  }

                  .bg {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include bGSU(cover, bottom right);
                  }
                }

                .image_with_icon_inner_ICON {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  // margin-bottom: 60px;
                  // margin-right: 60px;
                  max-width: 110px;
                  max-height: 110px;
                }
              }
            }
          }
        }

        .index_store_R {
          justify-content: flex-start;

          .index_store_inner_side_cnt {
            text-align: left;

            h2 {
              font-family: "Rubik Bold";
              font-size: $MinorHeading;
            }

            p {
              font-family: "Rubik Medium";
              font-size: clamp(19px, 21px, 21px);
              margin-top: 20px;
              margin-bottom: 40px;
              opacity: 0.7;
            }

            ul {
              @include displayElement(flex, flex-start, center);

              li {
                margin-right: 20px;

                a {
                  background-color: $PickledBean;
                  color: white;
                  font-family: "Rubik Semi Bold";
                  // font-size: clamp(17px, 18px, 18px);
                  height: 45px;
                  padding-left: 12px;
                  padding-right: 12px;
                  border-radius: 5px;
                  @include displayElement(flex, center, center);
                  text-decoration: none;

                  &:hover {
                    background-color: #7b5930;
                  }
                }

                .STORE_L_1 {
                  background-color: $Everglade;

                  &:hover {
                    background-color: $Apple;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.index_info {
  .index_info_inner {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1500px;
    @include quickCenter("relative");

    .index_info_inner_box {
      .index_info_inner_row {
        .index_info_inner_side {
          height: 670px;
          display: flex;
          align-items: center;
          overflow: hidden;
          white-space: normal;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }

        .index_info_L {
          justify-content: flex-start;

          .index_info_inner_side_cnt {
            width: 100%;
            height: 100%;

            .image_with_icon {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;

              .image_with_icon_inner {
                position: relative;
                width: 100%;
                height: 60%;
                display: flex;
                align-items: flex-end;

                .image_with_icon_inner_IMG_holder {
                  width: 100%;
                  height: 100%;
                  max-width: 450px;
                  max-height: 430px;
                  border-radius: 50%;
                  overflow: hidden;
                  white-space: nowrap;
                  position: relative;

                  .img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                  }

                  .bg {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include bGSU(cover, bottom right);
                  }
                }

                .image_with_icon_inner_ICON {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  // margin-bottom: 60px;
                  // margin-right: 60px;
                  max-width: 110px;
                  max-height: 110px;
                }
              }
            }
          }
        }

        .index_info_R {
          justify-content: flex-start;

          .index_info_inner_side_cnt {
            text-align: left;

            h2 {
              font-family: "Rubik Bold";
              font-size: $MinorHeading;
            }

            p {
              font-family: "Rubik Medium";
              font-size: clamp(19px, 21px, 21px);
              margin-top: 20px;
              margin-bottom: 40px;
              opacity: 0.7;
            }

            ul {
              @include displayElement(flex, flex-start, center);

              li {
                margin-right: 20px;

                a {
                  background-color: $Everglade;
                  height: 45px;
                  padding-left: 12px;
                  padding-right: 12px;
                  border-radius: 5px;
                  color: white;
                  font-family: "Rubik Semi Bold";
                  // font-size: clamp(17px, 18px, 18px);
                  @include displayElement(flex, center, center);
                  text-decoration: none;

                  &:hover {
                    background-color: $Apple;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.index_contact {
  .index_contact_inner {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1500px;
    @include quickCenter("relative");

    .index_contact_inner_box {
      .index_contact_inner_row {
        .index_contact_inner_side {
          height: 670px;
          display: flex;
          align-items: center;
          overflow: hidden;
          white-space: normal;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }

        .index_contact_R {
          justify-content: flex-end;

          .index_contact_inner_side_cnt {
            width: 100%;
            height: 100%;

            .image_with_icon {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;

              .image_with_icon_inner {
                position: relative;
                width: 100%;
                height: 60%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                .image_with_icon_inner_IMG_holder {
                  width: 100%;
                  height: 100%;
                  max-width: 450px;
                  max-height: 430px;
                  border-radius: 50%;
                  overflow: hidden;
                  white-space: nowrap;
                  position: relative;

                  .img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                  }

                  .bg {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include bGSU(cover, bottom right);
                  }
                }

                .image_with_icon_inner_ICON {
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  // margin-bottom: 60px;
                  // margin-right: 60px;
                  max-width: 110px;
                  max-height: 110px;
                }
              }
            }
          }
        }

        .index_contact_L {
          justify-content: flex-start;

          .index_contact_inner_side_cnt {
            text-align: left;
            max-width: 700px;

            h2 {
              font-family: "Rubik Bold";
              font-size: $MinorHeading;
            }

            p {
              font-family: "Rubik Medium";
              font-size: clamp(19px, 21px, 21px);
              margin-top: 20px;
              margin-bottom: 40px;
              opacity: 0.7;
            }

            ul {
              @include displayElement(flex, flex-start, center);

              li {
                margin-right: 20px;

                a {
                  background-color: $Everglade;
                  color: white;
                  font-family: "Rubik Semi Bold";
                  // font-size: clamp(17px, 18px, 18px);
                  height: 45px;
                  padding-left: 12px;
                  padding-right: 12px;
                  border-radius: 5px;
                  @include displayElement(flex, center, center);
                  text-decoration: none;

                  &:hover {
                    background-color: $Apple;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
  .page_top {
    height: 950px;

    .page_top_main {
      .page_top_main_overlay {
        .page_top_main_overlay_cnt {
          .page_top_main_top_text {
            font-size: clamp(31px, 34px, 34px);
          }

          .page_top_main_heading {
            font-size: clamp(60px, 65px, 65px);
          }

          p {
            max-width: 550px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  .page_top {
    height: 750px;

    .page_top_main {
      .page_top_main_overlay {
        padding-bottom: 55px;

        .page_top_main_overlay_cnt {
          .page_top_main_top_text {
            font-size: clamp(25px, 28px, 28px);
          }

          .page_top_main_heading {
            font-size: clamp(40px, 45px, 45px);
            line-height: 45px;
          }

          p {
            font-size: clamp(15px, 18px, 18px);
            max-width: 400px;
          }

          ul {
            display: inline-block;

            li {
              margin-bottom: 15px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
  .page_top {
    height: 650px;

    .page_top_main {
      .page_top_main_overlay {
        padding-bottom: 55px;

        .page_top_main_overlay_cnt {
          .page_top_main_top_text {
            font-size: clamp(20px, 23px, 23px);
          }

          .page_top_main_heading {
            font-size: clamp(30px, 35px, 35px);
            line-height: 35px;
          }

          p {
            font-size: clamp(14px, 16px, 16px);
            max-width: 300px;
          }

          ul {
            display: inline-block;

            li {
              margin-bottom: 15px;

              &:last-child {
                margin-bottom: 0;
              }

              a {
                font-size: clamp(13px, 14px, 14px);
                height: 40px;
              }
            }
          }
        }
      }
    }
  }
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
  .page_top {
    height: 460px;

    .page_top_main {
      .page_top_main_overlay {
        padding-bottom: 55px;

        .page_top_main_overlay_cnt {
          .page_top_main_top_text {
            font-size: clamp(16px, 16px, 16px);
          }

          .page_top_main_heading {
            font-size: clamp(21px, 24px, 24px);
            line-height: 28px;
          }

          p {
            font-size: clamp(14px, 16px, 16px);
            max-width: 260px;
            margin-top: 20px;
            margin-bottom: 30px;
          }

          ul {
            display: inline-block;

            li {
              margin-bottom: 15px;

              &:last-child {
                margin-bottom: 0;
              }

              a {
                font-size: clamp(13px, 14px, 14px);
                height: 40px;
              }
            }
          }
        }
      }
    }
  }
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .page_top {
    height: 420px;

    .page_top_main {
      .page_top_main_overlay {
        padding-bottom: 55px;

        .page_top_main_overlay_cnt {
          .page_top_main_top_text {
            font-size: clamp(21px, 25px, 25px);
          }

          .page_top_main_heading {
            font-size: clamp(35px, 35px, 35px);
            line-height: 35px;
          }

          p {
            font-size: clamp(14px, 16px, 16px);
            max-width: 360px;
            margin-top: 20px;
            margin-bottom: 30px;
          }

          ul {
            display: flex;
            justify-content: space-evenly;

            li {
              margin-bottom: 0;

              &:last-child {
                margin-bottom: 0;
              }

              a {
                font-size: clamp(13px, 14px, 14px);
                height: 40px;
              }
            }
          }
        }
      }
    }
  }
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .page_top {
    height: 620px;

    .page_top_main {
      .page_top_main_overlay {
        padding-bottom: 55px;

        .page_top_main_overlay_cnt {
          .page_top_main_top_text {
            font-size: clamp(28px, 32px, 32px);
          }

          .page_top_main_heading {
            font-size: clamp(45px, 50px, 50px);
            line-height: 50px;
          }

          p {
            font-size: clamp(16px, 18px, 18px);
            max-width: 420px;
            margin-top: 20px;
            margin-bottom: 30px;
          }

          ul {
            display: flex;
            justify-content: space-around;

            li {
              margin-bottom: 0;

              &:last-child {
                margin-bottom: 0;
              }

              a {
                font-size: clamp(15px, 16px, 16px);
                height: 45px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .page_top {
    height: 510px;

    .page_top_main {
      .page_top_main_overlay {
        padding-bottom: 55px;

        .page_top_main_overlay_cnt {
          .page_top_main_top_text {
            font-size: clamp(26px, 30px, 30px);
          }

          .page_top_main_heading {
            font-size: clamp(40px, 45px, 45px);
            line-height: 45px;
          }

          p {
            font-size: clamp(15px, 17px, 17px);
            max-width: 420px;
            margin-top: 20px;
            margin-bottom: 30px;
          }

          ul {
            display: flex;
            justify-content: space-evenly;
            max-width: 390px;

            li {
              margin-bottom: 0;

              &:last-child {
                margin-bottom: 0;
              }

              a {
                font-size: clamp(14px, 15px, 15px);
                height: 39px;
              }
            }
          }
        }
      }
    }
  }
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .page_top {
    height: 680px;

    .page_top_main {
      .page_top_main_overlay {
        padding-bottom: 55px;

        .page_top_main_overlay_cnt {
          .page_top_main_top_text {
            font-size: clamp(31px, 36px, 36px);
          }

          .page_top_main_heading {
            font-size: clamp(55px, 60px, 60px);
            line-height: 60px;
          }

          p {
            font-size: clamp(17px, 19px, 19px);
            max-width: 420px;
            margin-top: 20px;
            margin-bottom: 30px;
          }

          ul {
            display: flex;
            justify-content: space-evenly;
            max-width: 460px;

            li {
              margin-bottom: 0;

              &:last-child {
                margin-bottom: 0;
              }

              a {
                font-size: clamp(16px, 17px, 17px);
                height: 45px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .page_top {
    height: 600px;

    .page_top_main {
      .page_top_main_overlay {
        padding-bottom: 55px;

        .page_top_main_overlay_cnt {
          .page_top_main_top_text {
            font-size: clamp(29px, 33px, 33px);
          }

          .page_top_main_heading {
            font-size: clamp(50px, 55px, 55px);
            line-height: 55px;
          }

          p {
            font-size: clamp(16px, 17px, 17px);
            max-width: 420px;
            margin-top: 20px;
            margin-bottom: 30px;
          }

          ul {
            display: flex;
            justify-content: space-evenly;
            max-width: 400px;

            li {
              margin-bottom: 0;

              &:last-child {
                margin-bottom: 0;
              }

              a {
                font-size: clamp(15px, 15px, 15px);
                height: 40px;
              }
            }
          }
        }
      }
    }
  }
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .page_top {
    height: 750px;

    .page_top_main {
      .page_top_main_overlay {
        padding-bottom: 55px;

        .page_top_main_overlay_cnt {
          .page_top_main_top_text {
            font-size: clamp(31px, 36px, 36px);
          }

          .page_top_main_heading {
            font-size: clamp(55px, 60px, 60px);
            line-height: 60px;
          }

          p {
            font-size: clamp(17px, 19px, 19px);
            max-width: 420px;
            margin-top: 20px;
            margin-bottom: 30px;
          }

          ul {
            display: flex;
            justify-content: space-evenly;
            max-width: 430px;

            li {
              margin-bottom: 0;

              &:last-child {
                margin-bottom: 0;
              }

              a {
                font-size: clamp(16px, 17px, 17px);
                height: 45px;
              }
            }
          }
        }
      }
    }
  }
}
